@charset "utf-8";
/*This is a typical Cascading Style Sheet for the Men's Water Polo Website*/

/*HTML STYLING*/

html 
{
	background: url(background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: arial;
	color: #00C;
}

#Wrapper {
	margin:auto;
	width:800px;
	height:110%;
	background-color: #e9d09e;
	color: black;
	border:1px black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	border-color: #000;
	outline-color: #000;
	border-style: solid;
	position: relative;
}

div.nav
{
	font: Arial;
	width: 800px;
	padding: 0px;
	border: 0px black;
	margin:auto;
	background-color: black;
	color:white;
	font-size: 18px;
	border-right-color: #000;
	border-left-color: #000;
	border-bottom-color: #000;
	border-top-color: #666;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}


#navbar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: auto;
	width: 800px
}



#banner
{
	width: 800px;
	border-color: #000;
	border: 1px;
	border-style: solid;
	background-image: url(banner.jpg);
	height: 170px;
	color: #000;
	
}

ul
{
list-style-type:none;
margin:0;
padding:0;
padding-top:6px;
padding-bottom:6px;
}
li
{
display:inline;
}


a:link,a:visited

{
color:#FFFFFF;
text-align:center;
padding:5px;
text-decoration:none;
}



a:hover,a:active
{
	text-decoration:underline;
}


#Wrapper #apDiv1 table {
	color: #000;
	font-size: 12px;
	border-color: #000;
	border-style: solid;
	border-width: 0px;
}
body em {
	color: #00F;
}
#link {
	color: #00F;
}
.design1 {
	color: #FFF;
}
.design1 {
	text-align: center;
}
